#fireworksShaderContainer {
    position: absolute;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    pointer-events: none;
    top: 0;
}
#fireworksShaderContainer.active {
    opacity: 1;
    transition: opacity 1s;
}

canvas#fireworksShaderCanvas {
    background: transparent !important;
    border-radius: 0 !important;
    display: flex;
    padding: 0 !important;
    left: 0;
    margin: 0 !important;
    position: absolute;
    top: 0;
    z-index: 10;
}